<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<hr/>
<h1>Test jQuery normal</h1>
<div id='test'>
	Hello world, test jquery
</div>
<br/>
<button class="show-hide">Show/Hide div</button>
<%= link_to "Show/Hide div", "#", :class => 'show-hide' %>
<br/>

<ul id="abc">
	
</ul>
<%= link_to "Add post", test_posts_path, :remote => true %>

<hr/>
<h1>Posts</h1>

<div id="post_form">
  <%= render 'form' %>
</div>

<ul id="posts">
  <%= render @posts %>
</ul>
<hr/>
<h1>Test render</h1>
<div id="all_post">
	<%= render :partial => 'post_view', :collection => @posts, :as => :post %>
</div>
